@import "variables";

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #e7d025);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.max-width-300 {
  max-width: 300;
}
