<form method="POST" action="">
  <div class="my-3">
    <label for="search-input" class="form-label">Key words</label>
    <input
      type="text"
      class="form-control"
      id="search-input"
      name="q"
      placeholder="Input keywords ..."
    />
  </div>

  <button type="submit" class="btn btn-info text-white">Search</button>
</form>