<div class="mt-4">
  <h3>Create new course</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="title" class="form-label">Course Title</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="vId" class="form-label">Video ID</label>
      <input
        type="text"
        class="form-control"
        id="vId"
        name="vId"
      />
    <button type="submit" class="btn btn-primary mt-3">Add Course</button>
  </form>
</div>